* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.header-container,
.intro-container,
.info-container,
.quotes-container,
.prompt-container,
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container,
.intro-container,
.footer-container {
  background-color: #1F2937
}

.info-container,
.prompt-container {
  background-color: #F9FAF8;
}

.quotes-container {
  background-color: #E5E7EB;
}

.header-container,
.footer-container {
  height: 64px;
}

.intro-container,
.info-container,
.quotes-container,
.prompt-container {
  height: 400px;
}

.header,
.intro,
.info,
.quotes,
.prompt,
.footer {
  width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header,
.intro,
.prompt {
  justify-content: space-between;
}

.info,
.quotes,
.prompt,
.footer {
  padding: 25px 75px;
}

.quotes {
  flex-direction: column;
}

.header p {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: 700;
}

.header .links {
  display: flex;
  gap: 16px;
}

.header a {
  text-decoration: none;
}

.intro {
  gap: 32px;
}

.intro > div {
  width: 400px;
}

.intro img {
  width: 400px;
}

.hero {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 900;
}

.subtext,
.header .links {
  font-size: 18px;
}

.intro .subtext,
.prompt-text p,
.header .links a,
.footer {
  color: #E5E7EB;
}

.intro button,
.prompt button {
  color: #F9FAF8;
  background-color: #3882F6;
  width: 100px;
  font-weight: 700;
  padding: 4px 16px;
  margin: 12px 0;
}

.intro button {
  border: 1px solid #3882F6;
  border-radius: 6px;
}

.prompt button {
  border: 1px solid #F9FAF8;
  border-radius: 6px;
}

.info {
  padding: 25px;
  flex-direction: column;
  gap: 50px;
}

.info > p {
  color: #1F2937;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
}

.card-container {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.card {
  color: #1F2937;
  text-align: center;
  width: 150px;
}

.card img {
  height: 150px;
  border: 4px solid #3882F6;
  border-radius: 6px;
}

.quotes p {
  color: #1F2937;
  font-weight: 900;
  align-self: flex-end;
}

.quotes-container .quotes .quote {
  color: #1F2937;
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
}

.prompt {
  background-color: #3882F6;
}

.prompt p {
  font-size: 21px;
  font-weight: 700;
}

.prompt .subtext {
  font-size: 18px;
  font-weight: 500;
}