* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.header,
.intro,
.footer {
  background-color: #1F2937
}

.header {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header p {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: 700;
}

.header-links {
  display: flex;
  gap: 16px;
}

.header a {
  text-decoration: none;
}

.intro,
.info,
.quote-container,
.prompt-container {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro {
  gap: 32px;
}

.intro > div {
  width: 375px;
}

.intro img {
  height: 250px;
}

.hero {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 900;
}

.subtext,
.header-links {
  font-size: 18px;
}

.intro .subtext,
.prompt .subtext,
.header-links a {
  color: #E5E7EB;
}

.intro button,
.prompt-container button {
  color: #F9FAF8;
  background-color: #3882F6;
  width: 100px;
  font-weight: 700;
  padding: 4px 16px;
  margin: 12px 0;
}

.intro button {
  border: 1px solid #3882F6;
  border-radius: 6px;
}

.prompt-container button {
  border: 1px solid #F9FAF8;
  border-radius: 6px;
}

.info {
  padding: 25px;
  flex-direction: column;
  gap: 50px;
}

.info > p {
  color: #1F2937;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
}

.card-container {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.card {
  color: #1F2937;
  text-align: center;
  width: 150px;
}

.card img {
  height: 150px;
  border: 4px solid #3882F6;
  border-radius: 6px;
}

.quote-container {
  background-color: #E5E7EB;
}

.quote-container p {
  color: #1F2937;
  font-weight: 900;
  align-self: flex-end;
}

.quote-container .quote-width .quote {
  color: #1F2937;
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
}

.quote-width {
  width: 800px;
  display: flex;
  flex-direction: column;
}

.prompt-container {
  background-color: #3882F6;
}