* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

.header,
.intro,
.footer {
  background-color: #1F2937
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header p {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: 700;
}

.header-links {
  display: flex;
  gap: 16px;
}

.header a {
  text-decoration: none;
}

.intro {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro > div {
  width: 375px;
}

.intro img {
  height: 250px;
}

.hero {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 900;
}

.subtext,
.header-links {
  font-size: 18px;
}

.intro .subtext,
.prompt .subtext,
.header-links a {
  color: #E5E7EB;
}

.intro button,
.prompt {
  background-color: #3882F6;
}

.info > p {
  color: #1F2937;
  font-size: 36px;
  font-weight: 900;
}

.card-container {
  display: flex;
  justify-content: center;
}

.card img {
  height: 150px;
}

.quote-container {
  background-color: #E5E7EB;
}

.quote {
  color: #1F2937;
  font-size: 36px;
  font-style: light italic;
}

.prompt-container {
  display: flex;
}